body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#content ul li {
    list-style-type: disc;
    margin-left: 20px;
}

/*GENERAL TEXT MANIPULATION*/

.emphasize {
    font-weight: bold;

}

.answer {
    font-weight: bold;
    color: #000000;
    background-color: #000000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#keywordButton {
    position: fixed;
    top: 10%;
    right: 1%;
    opacity: 0.9;
}

/*END GENERAL TEXT MANIPULATION*/

/*NAVBAR STUFF*/

/*padding on bigger screens for logo and list to be pushed towards middle*/
@media screen and (min-width: 993px) {
    nav ul {
        padding-right: 15%;
    }
    nav .brand-logo #brand-logo-prefix {
        padding-left: 42%;
        font-size: 10px;
        margin-right: -10px;
        line-height: 10px;
        letter-spacing: 2px;
    }    
}

@media only screen and (max-width: 992px) {
    nav .brand-logo #brand-logo-prefix {
        margin-right: -10px;
        line-height: 10px;
        font-size: 10px;
        letter-spacing: 2px;
    }
}

.brand-logo {
    font-family: 'Lato', Helvetica, sans-serif;
    letter-spacing: 5px;
}

nav .brand-logo {
    font-size: 3rem;
}

nav ul a {
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: 300;
}

nav ul a:hover {
    background-color: rgba(255,255,255,0.3);
}

.side-nav {
    background-color: #039be5;
}

.side-nav a {
    color: #ffffff;
}

/*END NAVBAR STUFF*/