.answer {
    color: #ff0000;
    background-color: #ff0000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p, li {
	max-width: 1000px;
}
hr {
	margin-left: 0px;
	max-width: 1000px
}

pre {
	display: inline;
}

body {
    font-family: "Arial", Helvetica, monospace;
}